.layout-wrapper .main-wrapper {
    background: url(bg.jpg) no-repeat;
    width: 2592px;
    height: 1080px;
}

    /* profile */
    .layout-wrapper .main-wrapper .profile {
        position: absolute;
        top: 400px;
        left: 1080px;
        font-size: 75px;
        color: #fff;
    }

        .layout-wrapper .main-wrapper .profile .graduateid {
            display: none;
        }

    /* academic */
    .layout-wrapper .main-wrapper .academic {
        position: absolute;
        top: 550px;
        left: 1080px;
        font-size: 50px;
        color: #fff;
    }

    /* media */
    .layout-wrapper .main-wrapper .media {
        position: absolute;
        top: 249px;
        left: 500px;
    }

        .layout-wrapper .main-wrapper .media img {
            display: inline-block;
            width: 496px;
            height: 496px;
        }


        .layout-wrapper .main-wrapper .media audio {
            display: inline-block;
            visibility: hidden;
            width: 100%;
        }
